{% extends "homepage/base.html" %}
{%  load static %}

{% block main %}
<style>
@media (min-width: 992px) {
  .modal-dialog {
    max-width: 60%;
  }
}
</style>
<div class="container" data-aos="fade-up">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/media/{{carousel.photo1}}" class="d-block w-100" alt="..." height="400" style="object-fit: cover;">
          </div>
          <div class="carousel-item">
            <img src="/media/{{carousel.photo2}}" class="d-block w-100" alt="..." height="400" style="object-fit: cover;">
          </div>
          <div class="carousel-item">
            <img src="/media/{{carousel.photo3}}" class="d-block w-100" alt="..." height="400" style="object-fit: cover;">
          </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>
</div>
<br>
<div class="container" style="padding-left:2rem; padding-right:2rem">
    <div class="row" >
        <div class="col-md-4">
            <div class="bio text-center shadow p-3 mb-5 rounded" data-aos="fade-up">

                <img src="/media/{{festival.logo}}" width=200 height=auto>
                <hr>
                <div class="bio-body">
                    <h2>{{festival.name}}</h2>
                    <p class="social">
                        {% if festival.mail %}
                        <a href="mailto:{{festival.mail}}" class="p-2"><span class="fa fa-envelope"></span></a>
                        {% endif %}
                        {% if festival.linkedin %}
                        <a href="{{festival.linkedin}}" rel="noreferrer" target="_blank" class="p-2"><span class="fa fa-linkedin"></span></a>
                        {% endif %}
                        {% if festival.github %}
                        <a href="{{festival.github}}" rel="noreferrer" target="_blank" class="p-2"><span class="fa fa-github"></span></a>
                        {% endif %}
                        {% if festival.instagram %}
                        <a href="{{festival.instagram}}" rel="noreferrer" target="_blank" class="p-2"><span class="fa fa-instagram"></span></a>
                        {% endif %}
                        {% if festival.facebook %}
                        <a href="{{festival.facebook}}" rel="noreferrer" target="_blank" class="p-2"><span class="fa fa-facebook"></span></a>
                        {% endif %}
                        {% if festival.twitter %}
                        <a href="{{festival.twitter}}" rel="noreferrer" target="_blank" class="p-2"><span class="fa fa-twitter"></span></a>
                        {% endif %}
                        {% if festival.url %}
			<a href="{{festival.url}}" rel="noreferrer" target="_blank" class="p-2"><span class="fa fa-globe"></span></a>
			{% endif %}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-8" data-aos="fade-up">
            <h3 class="display-6">About</h3>
            {{festival.about|safe}}
            <hr>
            <h3 class="display-6">Events</h3>
            {{festival.events|safe}}
        </div>
    </div>
    <hr>
    <h3 class="display-6">Photos</h3>
    <br>
    <div class="card-group">
      <div class="card">
        <img src="/media/{{photos.photo1}}" class="card-img-top" alt="..." height="250" data-bs-toggle="modal" data-bs-target="#staticBackdrop1" >
        <p data-bs-toggle="modal" data-bs-target="#staticBackdrop1">{{photos.caption1}}</p>
        <div class="modal fade" id="staticBackdrop1" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">{{photos.caption1}}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <img src="/media/{{photos.photo1}}" alt="" class="img-fluid" style=":filter: none;-webkit-filter: none">
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="card">
        <img src="/media/{{photos.photo2}}" class="card-img-top" alt="..." height="250" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
        <p data-bs-toggle="modal" data-bs-target="#staticBackdrop2">{{photos.caption2}}</p>
        <div class="modal fade" id="staticBackdrop2" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
		  <h5 class="modal-title">{{photos.caption2}}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <img src="/media/{{photos.photo2}}" alt="" class="img-fluid" style=":filter: none;-webkit-filter: none">
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="card">
        <img src="/media/{{photos.photo3}}" class="card-img-top" alt="..." height="250" data-bs-toggle="modal" data-bs-target="#staticBackdrop3">
        <p data-bs-toggle="modal" data-bs-target="#staticBackdrop3">{{photos.caption3}}</p>
        <div class="modal fade" id="staticBackdrop3" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">{{photos.caption3}}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <img src="/media/{{photos.photo3}}" alt="" class="img-fluid" style=":filter: none;-webkit-filter: none">
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="card-group">
      <div class="card">
        <img src="/media/{{photos.photo4}}" class="card-img-top" alt="..." height="250" data-bs-toggle="modal" data-bs-target="#staticBackdrop4">
        <p data-bs-toggle="modal" data-bs-target="#staticBackdrop4">{{photos.caption4}}</p>
        <div class="modal fade" id="staticBackdrop4" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">{{photos.caption4}}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <img src="/media/{{photos.photo4}}" alt="" class="img-fluid" style=":filter: none;-webkit-filter: none">
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="card">
        <img src="/media/{{photos.photo5}}" class="card-img-top" alt="..." height="250" data-bs-toggle="modal" data-bs-target="#staticBackdrop5">
        <p data-bs-toggle="modal" data-bs-target="#staticBackdrop5">{{photos.caption5}}</p>
        <div class="modal fade" id="staticBackdrop5" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">{{photos.caption5}}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <img src="/media/{{photos.photo5}}" alt="" class="img-fluid" style=":filter: none;-webkit-filter: none">
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="card">
        <img src="/media/{{photos.photo6}}" class="card-img-top" alt="..." height="250" data-bs-toggle="modal" data-bs-target="#staticBackdrop6">
        <p data-bs-toggle="modal" data-bs-target="#staticBackdrop6">{{photos.caption6}}</p>
        <div class="modal fade" id="staticBackdrop6" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">{{photos.caption6}}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <img src="/media/{{photos.photo6}}" alt="" class="img-fluid" style=":filter: none;-webkit-filter: none">
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="card-group">
      <div class="card">
        <img src="/media/{{photos.photo7}}" class="card-img-top" alt="..." height="250" data-bs-toggle="modal" data-bs-target="#staticBackdrop7">
        <p data-bs-toggle="modal" data-bs-target="#staticBackdrop7">{{photos.caption7}}</p>
        <div class="modal fade" id="staticBackdrop7" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">{{photos.caption7}}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <img src="/media/{{photos.photo7}}" alt="" class="img-fluid" style=":filter: none;-webkit-filter: none">
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="card">
        <img src="/media/{{photos.photo8}}" class="card-img-top" alt="..." height="250" data-bs-toggle="modal" data-bs-target="#staticBackdrop8">
        <p  data-bs-toggle="modal" data-bs-target="#staticBackdrop8">{{photos.caption8}}</p>
        <div class="modal fade" id="staticBackdrop8" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">{{photos.caption8}}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <img src="/media/{{photos.photo8}}" alt="" class="img-fluid" style=":filter: none;-webkit-filter: none">
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="card">
        <img src="/media/{{photos.photo9}}" class="card-img-top" alt="..." height="250" data-bs-toggle="modal" data-bs-target="#staticBackdrop9">
        <p data-bs-toggle="modal" data-bs-target="#staticBackdrop9">{{photos.caption9}}</p>
        <div class="modal fade" id="staticBackdrop9" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">{{photos.caption9}}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <img src="/media/{{photos.photo9}}" alt="" class="img-fluid" style=":filter: none;-webkit-filter: none">
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <br>

</div>
{% endblock %}
