{% extends "homepage/base.html" %}
{%  load static %}

{% block main %}
<hr>
<div class="text-center animated animatedFadeInUp fadeInUp">
    <h1 style="text-center" class="display-3">Contacts for Student Activities</h1>
</div>
<div class="container animated animatedFadeInUp fadeInUp">
    <div class="tab-pane" id="comm" role="tabpanel">
        <table class="table table-dark table-striped">
          <thead>
            <tr>
              <th scope="col">Committee Name</th>
              <th scope="col">Email</th>
            </tr>
          </thead>
          <tbody>
              {% for committee in committees %}
              <tr>
                <td>{{committee.name}}</td>
                <td><a href="mailto:{{committee.mail}}" class="p-2 text-wrap foot-link" style="color:#447ed3">{{committee.mail}}</a></td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block js %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script>
        $('#member-list a').on('click', function (e) {
         e.preventDefault()
         $(this).tab('show')
        })
    </script>
{% endblock %}
