@import url(https://fonts.googleapis.com/css?family=Merriweather:400,900italic,900,700italic,700,400italic);

.container section {
    color: #000000;
    padding: 40px 0;
    background-size: 100%;
    background-position: 50% 30%;
    background-repeat: no-repeat;

    opacity: 0.85
}
.divider {
    padding:0;
    margin:0;
}
.divider h1 {
    margin: 10%;
    text-align:center;
    font-size:48px;
    color: #fff;
}

@media only screen and (max-width: 700px){
  .divider h1{
    font-size: 30px;
  }
}

.youtube {
    background-color: #000;
    position: relative;
    cursor: pointer;
}
.youtube img {
    width: auto;
    left: 0;

}
.youtube .play-button {
    width: 45px;
    height: 30px;
    background-color: #333;
    box-shadow: 0 0 50px rgba( 0,0,0,0.6 );
    z-index: 1;
    opacity: 0.8;
    border-radius: 6px;
}
.youtube .play-button:before {
    content: "";
    border-style: solid;
    border-width: 15px 0 15px 26.0px;
    border-color: transparent transparent transparent #fff;
}
.youtube img,
.youtube .play-button {
    cursor: pointer;
}
.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before {
    position: absolute;
}
.youtube .play-button,
.youtube .play-button:before {
    top: 50%;
    left: 50%;
    transform: translate3d( -50%, -50%, 0 );
}
.youtube iframe {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
