@import url(https://fonts.googleapis.com/css?family=Merriweather:400,900italic,900,700italic,700,400italic);

body{
    background-color: #1A1A2E!important;
    color: #eee!important;
    /*background-image: url('https://gymkhana.ml/static/images/photography.png');*/
    background-attachment: fixed;
}

.container section {
    color: #000000;
    padding: 40px 0;
    background-size: 100%;
    background-position: 50% 30%;
    background-repeat: no-repeat;

}
.divider {
    padding:0;
    margin:0;
}
.divider h1 {
    margin: 10%;
    text-align:center;
    font-size:48px;
    color: #aad8d3;
}

@media only screen and (max-width: 700px){
  .divider h1{
    font-size: 30px;
  }
}

.youtube {
    background-color: #000;
    position: relative;
    cursor: pointer;
}
.youtube img {
    width: auto;
    left: 0;

}
.youtube .play-button {
    width: 45px;
    height: 30px;
    background-color: #333;
    box-shadow: 0 0 50px rgba( 0,0,0,0.6 );
    z-index: 1;
    opacity: 0.8;
    border-radius: 6px;
}
.youtube .play-button:before {
    content: "";
    border-style: solid;
    border-width: 15px 0 15px 26.0px;
    border-color: transparent transparent transparent #fff;
}
.youtube img,
.youtube .play-button {
    cursor: pointer;
}
.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before {
    position: absolute;
}
.youtube .play-button,
.youtube .play-button:before {
    top: 50%;
    left: 50%;
    transform: translate3d( -50%, -50%, 0 );
}
.youtube iframe {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
#clock p {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
  color: green;
}

#clock p span {
  display: block;
  font-size: 4.5rem;
}
#clockl p {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em 1em 0.5em 1em;
  text-transform: uppercase;
  color: cornflowerblue;
}

#clockl p span {
  display: block;
  font-size: 2.5rem;
}

#clockr p {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em 1em 0.5em 1em;
  text-transform: uppercase;
  color: indianred;
}

#clockr p span {
  display: block;
  font-size: 2.5rem;
}

.timer{
    border-right:1px solid #ccc;
}

@media all and (max-width: 768px) {
  #clock p{
    font-size: 1rem;
    padding: 0.75rem;
  }
  #clock h1{
    margin-top: 20px;
  }
  #clockr h1{
    margin-top: 20px;
  }
  #clock p span {
    font-size: 3rem;
  }

  #clockl p {
    display: inline-block;
    font-size: 1em;
    list-style-type: none;
    padding: 0.5em;
    text-transform: uppercase;
  }

  #clockl p span {
    display: block;
    font-size: 2.5rem;
  }
    #clockr p {
      display: inline-block;
      font-size: 1em;
      list-style-type: none;
      padding: 0.5em;
      text-transform: uppercase;
    }

    #clockr p span {
      display: block;
      font-size: 2.5rem;
    }
  .timer{
      border-right: none;
      border-bottom:1px solid #ccc;
  }
}

hr.footerhr{
  margin: 0px;
}

@media all and (max-width : 768px){

  h3{
    padding-top:20px;
  }
  hr{
    height:0px!important;
  }
}

.display-6, .display-4{
    font-weight:500!important;
}

h3 {
  display: inline-block;
  position: relative;
  line-height: 60px;
  text-align: center;
  padding: 0 20px 0 20px;
  color: #FAA916;
  box-sizing: border-box;
}
/*
h3:after {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  z-index: 1;
}

h3:after {
  top: 0;
  right: 0;
  border-width: 30px 15px 30px 0px;
  border-color: transparent #eeeeee transparent transparent;
  border-style: solid;
}
*/
@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

.card {
    background-color: #16213E!important;
}
.btn-link{
    color: #E94560!important;
}
a{
    color: #0F3460!imporant;
}
.dropdown-item{
    color: #E94560!important;
}
.dropdown-menu{
    background-color: #16213E!important;
}
.navbar-dark .navbar-nav .nav-link {
    color: #E94560!important;
}
.modal-content{
    background-color: #0F3460!important;
}
